@import "variable";

.btn {
    border: none;
    height: 32px;
    width: 100%;
    margin-top: 0;
    min-height: 32px;
    padding: 0 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &__export {
        float: right;
        text-decoration: none;
        padding: 0 15px;
    }

    &__icon {
        border: none;
        cursor: pointer;

        &:hover {
            transition: opacity 0.3s;
            opacity: 0.6;
        }
    }

    &__text {

    }

    &:hover {
        transition: opacity 0.3s;
        opacity: 0.6;
    }

    &__primary {
        background-color: $primary;
        color: white;

        &__outlined {
            border: 1px solid $primary;
            color: $primary;
        }
    }

    &__secondary {
        background-color: $secondary;
        color: white;

        &__outlined {
            border: 1px solid $secondary;
            color: $secondary;
        }
    }
}
