/* Style the counter cards */
.card {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #bbb;


    &:hover {
        cursor: pointer;
        border-color: #888;
    }

    &__header {
        padding: 0 0 15px;
    }

    &__title {
        font-weight: bold;
        padding: 0 15px 15px;
    }

    &__action {
    }
}
