/* Remove extra left and right margins, due to padding in columns */
.row {

}


/* Float four columns side by side */
.column {
    display: inline-block;
    width: 250px;
    vertical-align:top;
    border: 1px solid #bbb;
    background-color: #f1f1f1;
    padding: 15px;

    &__action {
        padding: 15px 0;
        display: flex;

        .btn {
            text-align: center;
        }
    }
}
