.layout {
    &__navbar {
        min-height: 1em;
        padding: 15px;
        background-color: #ddd;
        margin-bottom: 15px;
        border: 1px solid #bbb;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow-x: scroll;
        white-space: nowrap;
    }

    &__menu {
        min-height: 1em;
        background-color: #ddd;
        border: 1px solid #bbb;
        padding: 15px;
        flex-basis: 100%;
    }

    &__content {
        margin-top: 15px;
        flex-grow: 1;
        display: flex;
        gap: 15px;
        flex-direction: row;
        background-color: #ddd;
        border: 1px solid #bbb;
        padding: 15px;
    }

    &__image-section {
        flex-basis: 50%;
    }

    &__image {
        padding: 15px;
        min-height: 100px;
        background: #fff;
        border: 1px solid #bbb;

        &:nth-child(1) {
            display: none;
            border: 1px solid #bbb;
        }
    }

    &__text {
        min-height: 100px;
        background: #fff;
        border: 1px solid #bbb;
        flex-basis: 50%;
        padding: 15px;
    }

    @media (min-width: 576px) {
        &__menu {
            flex: none;
            min-width: 100px;
        }

        &__main {
            flex-wrap: nowrap;
        }

        &__image {
            &:nth-child(1) {
                display: block;
                margin-bottom: 15px;
            }
        }
    }
}
